.footer {
    // margin-top: 100px;
    height: 70vh;
    background-color: #285ede;
    display: flex;
    align-items: flex-end;
    padding: 100px;
    color: white;
    font-size: 3rem;
    font-weight: 600;
}